.App {
  text-align: center;
}

nav{
display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 10vh;
 background: rgb(73,79,82);
}

nav ul{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul a{
  color: white;
  text-decoration: none;
}

.ingredients-list{
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.single-recipies{
  background-color: wheat;
  padding: 20px;
  border-radius: 19px;
  margin-bottom: 27px;
  margin-top: 20px;
}